<nav class="navigation">
  <div class="main-name">
    <h1 class="main main-outline">Kate Busby</h1>
    <h1 class="main main-title">Kate Busby</h1>
  </div>
    <ul id="menu" class="menu">
      <li>
        <a href="/portfolio/" class="nav-link">Developer</a>
      </li>
      <li>
        <a href="/teach/" class="nav-link">Instructor</a>
      </li>
      <li>
        <a href="/exp/" class="nav-link">Experiements</a>
      </li>
      <li>
        <a href="/resume/" class="nav-link">Resume</a>
      </li>
      <li>
        <a href="/contact/" class="nav-link">Contact</a>
      </li>
    </ul>
</nav>
