<nav class="navigation">
  <div class="main-name">
    <h1 class="main-name main-name--outline">Kate Busby</h1>
  </div>
    <ul id="menu" class="menu">
      <li>
        <a href="/portfolio/" class="nav-link">Portfolio</a>
      </li>
      <li>
        <a href="/teach/" class="nav-link">Code Instruction</a>
      </li>
      <li>
        <a href="/exp/" class="nav-link">Experiements</a>
      </li>
      <li>
        <a href="/resume/" class="nav-link">Resume</a>
      </li>
      <li>
        <a href="/contact/" class="nav-link">About/Contact</a>
      </li>
    </ul>
</nav>
