
.main{
  position:relative;
  min-height: 100vh;
  background-color: $color-grey;
}
// #barba-wrapper{
//   width: 100%;
//   z-index: 500;
// }

 .animating{
  .stripe{
    display:none;
    // z-index: 100;
  }
}
//
// .container-main{
//   // padding: 0 80px;
//   width: 70%;
//
