@import "variables";
@import "normalize";
// @import "skeleton";
@import "nav";
@import "container";
@import "portfolio";
@import "hero";
@import "stripe";
@import "form";

html {
  box-sizing: border-box;
  min-height: 100vh;
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
    background: $color-grey;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    color: $color-black;
    min-height:100vh;
}
