.navigation{
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;

}
.main-name{
  height: 150px;
  position: relative;
  cursor: pointer;
}

// .main{
//   // text-transform: uppercase;
//   font-size: 150px;
//   margin: 10px auto 0;
//   cursor: pointer;
//   font-weight: 300;
//
// }
.main-outline{
  font-family: 'Londrina Outline', cursive;
  font-size: 150px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font-weight: 300;
}

.main-title{
   font-family: 'Londrina Solid', cursive;
  color: #f95b3b;
  font-size: 150px;
  margin: 0;
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 2px;
}
#menu{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
  margin: 50px auto;
}

.nav-link{
  text-decoration: none;
  text-transform: lowercase;
  color: black;
  font-family: 'Londrina Solid', cursive;
  font-size: 32px;

  &:hover{
    font-family: 'Londrina Outline', cursive;
    color: black;
    // border-bottom: solid 3px rgb(41, 74, 196);
    // border-radius: 40px 15px 225px 15px/15px 225px 15px 255px;
  }
}
