.about {
  height: 100%;
  overflow: hidden;
  .line-grid {
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    .lined {
      position: relative;
      border-right: 1px solid rgba(0,0,0,.1);
      height: calc(100vh - 50px);
    }
  }

  .about-grid {
    display: flex;
    width:100%;
    height: calc(100vh - 100px);
    align-items: stretch;
    position: absolute;
    left: 0;
    z-index: 1;
    .sixth-column-full {
      border-right: 1px solid rgba(0,0,0,.1);
      opacity: 0;
      @include grid-media($neat-medium) {
           opacity: 1;
      }
    }
  }
  .about-info,
  .about-info-2,
  .about-info-3 {
    min-height: calc(100vh - 100px);
    width:100%;
    display: flex;
    align-items: flex-start;
    padding:4rem 0;
    z-index: 2;
    overflow: hidden;
    @include grid-media($neat-medium) {
      min-height: calc(100vh - 100px);
      align-items: center;
      padding:2rem 0;
    }

    .half-column {
      @include grid-media($neat-medium) {
           @include grid-column(4);
      }
      @include grid-media($neat-large) {
        @include grid-column(6);
           @include grid-push(1);
      }
    }
    h4 {
      font-family: "freight-text-pro", serif;
      margin-bottom: 1em;
      text-transform: uppercase;
      color: $medium-gray;
      font-size: .7em;
      letter-spacing: .05em;


      @include grid-media($neat-small-full) {
        font-size: 1.1em;
      }
      @include grid-media($neat-medium-full) {
        font-size: 1.2em;
      }
      @include grid-media($neat-super-full) {
        font-size: 1.3em;
      }
    }
    h1 {
      position: relative;
      left: -.05em;
      margin-bottom: .3em;
    }

    p {
      color: darken($medium-gray, 20%);
      a {
        font-weight: bold;
      }
    }
  }
  .about-info {
    background-color: #f4f4f4;
  }
  .about-info-2 {
    background-color: #6544f4;
    h4 {
      color: #fff;
    }
  }
  .about-info-3 {
    background-color: #111;
    h4, {
      color: #6544f4;
    }
  }
}

.purple {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: #6544f4;
}
a.white:hover, a.white:active, a.white:focus{
  color:#fff;
}
.white {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: #fff;
}

.proud {
  li {
    display:inline-block;
    width:auto;
    text-align: center;
  }
  img{
    height:3rem;
    @include grid-media($neat-small) {
         height:4rem;
    }
    @include grid-media($neat-medium) {
         height:5rem;
    }
    @include grid-media($neat-larger) {
         height:6rem;
    }
  }
}
