.navigation {
    background: #fff;
    height: $nav-height;
    position: relative;
    background: $nav-background-color;
    z-index: 100;
    letter-spacing: -.07em;
    z-index:101;

    .logo {
      width:100%;
      position: absolute;
      height: $nav-height;
      background: #fff;
      z-index:101;
        span {
            position: absolute;
            height: $nav-height;
            display: flex;
            align-items: center;
            left: $grid-gutter/2;
            @include grid-media($neat-small) {
                left: $grid-gutter;
            }

            a {
                font-size:1.2em;
                font-weight: 300;
                font-family: "nimbus-sans",sans-serif;
                color: #000;
                @include grid-media($neat-small) {
                  font-size: 1em;
                }
                &:hover {

                }
            }
        }
    }

    ul {
      position: relative;
      width: 100%;
      background: #000;
      overflow: hidden;
      top: $nav-height;
      z-index:100;
      transform: translateY(-120%);
      transition: transform 1s;
      z-index:-1;
      &.open {
        transform: translateY(0);
      }

      li {
        display: flex;
        width: 100%;
        align-items: center;
        position: relative;
        margin-left: 1.5rem;
        border-top: 1px solid #151515;

        a {
            line-height: $nav-height;
            font-size: 1.2em;
            font-family: "nimbus-sans",sans-serif;
            font-weight: 600;
            color: #fff;
            width:100%;
            @include grid-media($neat-small) {
              font-size: 1em;
            }
        }
      }
      @include grid-media($neat-small) {
        height: $nav-height;
        width: auto;
        position: absolute;
        right: $grid-gutter/2;
        top: 0;
        display: none;
        transform: translateY(0);
        z-index:101;
        background: #fff;
            right: $grid-gutter;
            display: flex;
            align-items: center;

        li {
          width: auto;
            margin-left: 2rem;
            border:none;
            a {
              width:auto;
              color: #000;
            }
        }
    }
  }
}

.nav-trigger {
        position: absolute;
        right: 1rem;
        display: flex;
        height: 100%;
        padding: 0 1rem;
        cursor: pointer;
        align-items: center;
        user-select: none;
        z-index: 101;

        h2 {
            display: inline-block;
            height: auto;
            margin: 0;
            padding: 0;
            font-size: 1.2em;
            margin-right:.2em;
            @include grid-media($neat-small) {
              font-size: 1em;
            }
        }

        em,
        em::after,
        em::before {
            position: relative;
            display: inline-block;
            width: 22px;
            height: 2px;
            background-color: $dark-gray;
            backface-visibility: hidden;
        }

        em {
            margin: 6px 0 5px 0.2em;
            transition: background-color 0.2s;
        }

        em::after,
        em::before {
            position: absolute;
            left: 0;
            content: '';
            transition: transform 0.2s;
        }

        em::before {
            transform: translateY(-6px);
        }

        em::after {
            transform: translateY(6px);
        }

        @media screen and (min-width: $small) {
            display: none;
        }
    }

    &.nav-open .nav-trigger {
        em {
            /* transform menu icon into a 'X' icon */
            background-color: rgba($nav-background-color, 0);
        }

        em::before {
            /* rotate top line */
            transform: rotate(-45deg);
        }

        em::after {
            /* rotate bottom line */
            transform: rotate(45deg);
        }
    }
