.words {
  margin-top: 2rem;
  h4 {
    display: inline-block;
  }
  p {
    max-width: $max-text-width;
  }
  figure {
    margin-bottom: 1rem;

    @include grid-media($neat-small) {
         margin-bottom: 2rem;
    }

    figcaption {
      position: relative;
      padding: 1em 0;
      display:block;
      font-style: italic;
      padding: .2em 0;
      color: $medium-gray;
      padding-left: 30px;

      &::before {
        display: inline-block;
        position: absolute;
        content:'';
        background-color: $medium-gray;
        background-repeat: no-repeat;
        background-position: left middle;
        mask: url('/img/icons/camera.svg') no-repeat;
        left: 0;
        top: .51em;
        height:30px;
        width:30px;
      }
    }
  }
}
